/* ===importing google font=== */

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

/* ===css reset start=== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===css reset end === */

/* ===css variable start === */
:root {
  --light-grey: hsl(0, 0%, 95%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --white: white;
}

/* ===css variable end === */

/* === general styling start === */

html {
  font-size: 10px;
}


.container{
  /* border:2px solid black; */
  margin:3rem 3rem;

}

body {
  background-color: var(--light-grey);
}

/* === general styling end  === */

/* ===typography start=== */

h1 {
  color: var(--light-grey);
  font-weight: 700;
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  font-size: 3rem;
}
p {
  color: var(--transparent-white);
  font-family: "Lexend Deca", sans-serif;
  max-width: 80%;
  line-height: 1.8rem;
  font-size: 1.3rem;
}

/* ===typography end=== */

/* ===card section start=== */

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0 2rem;
  height: 35rem;
}

#column-1 {
  background-color: var(--bright-orange);
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}
#column-2 {
  background-color: var(--dark-cyan);
}
#column-3 {
  background-color: var(--very-dark-cyan);
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}

/* ===card section end=== */

/* ===button start === */

.btn {
  background-color: var(--light-grey);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  font-family: "Lexend Deca", sans-serif;
  border-width: 0px;
  cursor: pointer;
}

#btn-1 {
  color: var(--bright-orange);
  transition: background-color 650ms;
}

#btn-2 {
  color: var(--dark-cyan);
  transition: background-color 650ms;
}
#btn-3 {
  color: var(--very-dark-cyan);
  transition: background-color 650ms;
}

#btn-1:hover {
  background-color: var(--bright-orange);
  color: var(--white);
  border: 1px solid var(--white);
}
#btn-2:hover {
  background-color: var(--dark-cyan);
  color: var(--white);
  border: 1px solid var(--white);
}
#btn-3:hover {
  background-color: var(--very-dark-cyan);
  color: var(--white);
  border: 1px solid var(--white);
}
/* ===button end  === */

/* === responsove design start === */

@media screen and (min-width: 38rem) {
  .container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    margin:0 0;
    align-items: center;



  
  }

  .card-body{
    width: 30%;
  }
  #column-1 {
    border-radius: 0.5rem 0rem 0rem 0.5rem;
  }
  #column-3 {
    border-radius: 0rem 0.5rem 0.5rem 0rem;
  }
}

/* === responsove design end === */
