/* ===importing google font=== */

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

/* ===css reset start=== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===css reset end === */

/* ===css variable start === */
:root{
  --color-1:hsl(0, 0%, 95%);
  --color-2:hsla(0, 0%, 100%, 0.75);
  --color-3:hsl(31, 77%, 52%);
  --color-4: hsl(184, 100%, 22%);
  --color-5: hsl(179, 100%, 13%);
  --color-6: white;


}


/* ===css variable end === */

/* === general styling start === */

html {
  font-size: 10px;
}

.container{
  margin: 5rem 5rem;
}

body {
  background-color:var(--color-1);
}

/* === general styling end  === */

/* ===typography start=== */

h1 {
  color: var(--color-1);
  font-weight: 700;
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  font-size: 3rem;
}
p {
  color: var(--color-2);
  font-family: "Lexend Deca", sans-serif;
  max-width: 70%;
  line-height: 1.3rem;
  font-size: 1.3rem;
}

/* ===typography end=== */

/* ===card section start=== */

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0px 20px;
  height: 35rem;
}

#column-1 {
  background-color: var(--color-3);
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  
  
}
#column-2 {
  background-color: var(--color-4);


  
  

}
#column-3 {
  background-color: var(--color-5);
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  

  
  

}

/* ===card section end=== */

/* ===button start === */

.btn {
  background-color: var(--color-1);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  font-family: "Lexend Deca", sans-serif;
  border-width: 0px;
  cursor:pointer; 
}

#btn-1 {
  color: var(--color-3);
  transition: background-color 650ms;
}

#btn-2 {
  color: var(--color-4);
  transition: background-color  650ms;

}
#btn-3 {
  color: var(--color-5);
  transition: background-color  650ms;

}

#btn-1:hover{
  background-color: var(--color-3);
  color: var(--color-6);
  border:1px solid  var(--color-6);

}
#btn-2:hover{
  background-color:var(--color-4);
  color:var(--color-6);
  border:1px solid var(--color-6);

}
#btn-3:hover{
  background-color: var(--color-5);
  color:var(--color-6);
  border:1px solid var(--color-6);

}
/* ===button end  === */

/* === responsove design start === */

@media screen and (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center; 
  }



  #column-1 {
    width: 30%;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
  }
  #column-2 {
    width: 30%;
  }
  #column-3 {
    width: 30%;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
  }
}

/* === responsove design end === */
