    /* ===importing google font=== */


@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

    /* ===css reset start=== */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}    

    /* ===css reset end === */


     /* === general styling start === */


     html{
        font-size: 10px;
    }
    
    section{
        margin:5rem 6rem;
    }

    body{
        background-color: hsl(0, 0%, 95%);
    }
    
   

    /* === general styling end  === */

    /* ===typography start=== */


    h1{
        color: hsl(0, 0%, 95%);
        font-weight: 700;
        font-family: 'Big Shoulders Display', cursive;
        text-transform: uppercase;
        font-size: 3rem;

    }
    p{
        /* font-size: 15px; */
        color: hsla(0, 0%, 100%, 0.75);
        font-family: 'Lexend Deca', sans-serif;
        /* border:2px solid black;  */
        /* text-align: justify; */
        max-width:70%;
        line-height: 1.3rem;
        font-size:1.3rem; 
    
    
    }

    /* ===typography end=== */


    /* ===card section start=== */

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   align-items: flex-start; 
   padding: 0px 20px;
height:35rem; 

}


#column-1{
background-color: hsl(31, 77%, 52%);
border-radius: 0.5rem 0.5rem 0rem 0rem;


}
#column-2{
    background-color:hsl(184, 100%, 22%);


    
}
#column-3{
    background-color:hsl(179, 100%, 13%);
border-radius: 0rem 0rem 0.5rem 0.5rem;


    
}



    /* ===card section end=== */


    /* ===button start === */

 .btn{
    background-color: hsl(0, 0%, 95%);
    border-radius: 1.5rem;
    padding: 1rem 2rem; 
    font-family: 'Lexend Deca', sans-serif;
    border-width: 0px;

} 

#btn-1{
      color:hsl(31, 77%, 52%);
}

#btn-2{
    color:hsl(184, 100%, 22%);
}
#btn-3{
    color:hsl(179, 100%, 13%);
    
}
    /* ===button end  === */



  


    /* === responsove design start === */

@media screen and (min-width:400px) {

  
.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;

    
}

section{
    margin:0rem 0rem;
}


#column-1{
width:30%;
border-radius: 0.5rem 0rem 0rem 0.5rem;





}
#column-2{
    width:30%;
}
#column-3{
    width:30%;
    border-radius: 0rem 0.5rem 0.5rem 0rem;



}



}

    /* === responsove design end === */


